
.tow2{
  border:3px solid black;
	text-align: center;
	align-items: center;
  justify-content: center;
}

.main_app{
	text-align: center;
	align-items: center;
  justify-content: center;

}
.left_button{
	margin-top: 2em;
}

.formulaire {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
  border:3px solid black;
}

#idclient {
	margin-top: 4em;
}
#buttonclient {
	margin-top: 3em;
	margin-bottom: 6em;
}

#last_lb{
	margin-bottom: 5em;
}
#last_blf{
	margin-bottom: 5em;
}

#left_topnav{
  background-color: grey;
  border:2px solid black;
}

#right_topnav{
	text-align: center;
	margin: 0 auto;
	border:2px solid black;
}

#right_topnav_right{
	margin-top: 1.5em;
	align-items: center;
    justify-content: center;
}
#acc_bt{
	item-align: center
}

#fat {
  background-color: grey;
  height: 100%;
}
#logo{
}
